simulator/app/node_modules
simulator/app/package-lock.json
.vscode
waste*
subs-control/app_subs-control/node_modules
subs-control/app_subs-control/package-lock.json
.venv

proxy-reverse/default.conf

apis_app/CityApiV3/.env

node_modules/